* {
  box-sizing: border-box;
}
:root {
  --main-color: #252e30;
  --second-color: #2ecc71;
  --section-color: #f2f2f1;
  --section-padding: 80px;
  --title-color: #556469;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  height: 5000px;
}
.container {
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  width: 1170px;
  max-width: 90%;
}
header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
}
header img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
header .header-box {
  text-align: center;
}
header .header-box h1 {
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
header .header-box button {
  background: none;
  padding: 15px 30px;
  border: 1px solid;
  color: inherit;
  border-radius: 3px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
}
header .header-box button:hover {
  background-color: white;
  color: black;
}
@media (min-width: 768px) {
  header .header-box h1 {
    font-size: 3rem;
  }
  header .header-box button {
    font-size: 1.2rem;
  }
}
header .bolits {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 30px;
  height: 50px;
  position: absolute;
  bottom: 30px;
  right: 10%;
}
header .bolits span {
  width: 7px;
  height: 7px;
  border: 1px solid white;
  display: block;
  border-radius: 50%;
}
header .bolits span.active {
  background-color: white;
}
nav {
  background-color: var(--main-color);
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
nav .logo {
  text-transform: uppercase;
  color: white;
  font-weight: bolder;
}
nav .logo .logo-char {
  color: white;
  background-color: rgba(255, 255, 255, 0.486);
  font-size: 1.2em;
  padding: 5px 10px;
  margin-right: 10px;
}
nav .logo-text span {
  color: var(--second-color);
}
nav .active-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-transform: capitalize;
  transition: 0.3s;
}
nav .active-links a:hover {
  color: var(--second-color);
}
@media (max-width: 1023px) {
  nav .nave-icon {
    display: block;
  }
  nav {
    position: relative;
  }
  .nav-links .nav-icon {
    color: var(--second-color);
  }
  nav .active-links {
    position: absolute;
    background-color: var(--main-color);
    width: 100%;
    list-style: none;
    left: 0;
    top: 35px;
    padding: 0;
    height: 0;
    overflow: hidden;
    z-index: 1000;
    transition: height 0.3s;
  }
  nav .active-links a {
    display: block;
    padding: 10px 20px;
  }
  nav .active-links li:not(:last-child) a {
    border-bottom: 1px solid #eee;
  }
  nav .nav-links a.active {
    color: var(--second-color);
  }
  nav .nav-links a:hover {
    color: var(--second-color);
    padding-left: 30px;
  }
  .nav-links.active .active-links {
    height: 280px;
  }
}
@media (min-width: 1024px) {
  nav .nav-icon {
    display: none;
  }
  nav .active-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
  }
}
.features {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 70px;
}
.features .title {
  font-size: 2em;
  font-weight: bolder;
  text-transform: uppercase;
  color: gray;
  margin: 0 0 30px 0;
}
.features .discription {
  color: #777;
  line-height: 1.8;
}
@media (max-width: 640px) {
  .features .container {
    text-align: center;
  }
}
.about-me {
  background-color: var(--section-color);
  text-align: center;
}
.about-me img {
  height: 100%;
  width: 100%;
}
.about-me .about-me-info {
  padding: 20px;
}
.about-me .about-info-top .title {
  text-transform: uppercase;
  color: var(--title-color);
}
.about-me .about-info-top p {
  color: #777;
  line-height: 1.8;
  margin-bottom: 30px;
}
.about-me .about-info-bottom .skill-box {
  margin-bottom: 30px;
}
.about-me .about-info-bottom .skill-box .icon {
  color: var(--second-color);
}
.about-me .about-info-bottom .skill-box .skill-text h3 {
  margin-top: 30px;
  text-transform: uppercase;
  color: var(--title-color);
}
.about-me .about-info-bottom .skill-box .skill-text p {
  color: #777;
  line-height: 1.8;
}
@media (min-width: 1024px) {
  .about-me .about-info-bottom {
    display: flex;
    justify-content: center;
    gap: 80px;
  }
}
@media (min-width: 1280px) {
  .about-me {
    display: flex;
    gap: 30px;
    padding-right: 5%;
    text-align: start;
    align-items: center;
  }

  .about-me .about-info-bottom {
    gap: 30px;
  }
  .about-info-bottom .skill-box {
    display: flex;
    gap: 20px;
  }
  .about-me .about-info-bottom .skill-box .skill-text h3 {
    margin-top: 0;
  }
}
.my-skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.my-skills .container {
  text-align: center;
}
.my-skills .title {
  text-transform: uppercase;
  font-size: 30px;
  color: var(--title-color);
  margin: 0 0 20px;
}
.my-skills .col .des {
  color: #777;
  line-height: 1.8;
  margin-bottom: 30px;
}
.btn {
  padding: 10px 30px;
  background: none;
  border: 2px solid var(--second-color);
  color: var(--second-color);
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 3px;
  font-weight: bold;
  transition: 0.3s;
}
.btn:hover {
  background-color: var(--second-color);
  color: white;
}
.my-skills .col .skill {
  margin-top: 50px;
}
.my-skills .col .skill .title {
  margin-bottom: 15px;
  font-size: 20px;
}
.my-skills .col .skill .skill-bar {
  background-color: var(--section-color);
  width: 100%;
  height: 30px;
  position: relative;
}
.my-skills .col .skill .skill-bar .fill-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background-color: var(--second-color);
}
.my-skills .col .skill .skill-bar .fill-bar::after {
  content: attr(data-skill);
  position: absolute;
  color: white;
  font-weight: bold;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 1024px) {
  .my-skills .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: start;
  }
  .my-skills .container .col {
    width: 45%;
  }
}
.resume {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-color);
  text-align: center;
  position: relative;
}
.resume::after {
  content: "";
  position: absolute;
  border: 30px solid transparent;
  border-top-color: var(--section-color);
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
}
.resume .title {
  text-transform: uppercase;
  margin: 0 0 30px;
  color: var(--title-color);
  font-size: 30px;
}
.resume .des {
  line-height: 1.8;
  color: #777;
  margin-bottom: 30px;
}
