@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
}
:root {
  --main-color: #252e2f;
  --section-color: #f2f2f2;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  height: 4000px;
}
.container {
  width: 90%;
  margin: auto;
}
.hero {
  position: relative;
  height: 100vh;
}
.hero .hero-image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.hero .container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .hero-content {
  text-align: center;
}
.hero .hero-content .title {
  font-size: 4em;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  border: 2px solid white;
  border-color: white transparent;
  padding: 10px 120px;
}
.hero .hero-content .learn-more {
  padding: 30px 60px;
  font-size: 2em;
  background-color: transparent;
  outline: none;
  border: 3px solid white;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}
.nav-bar {
  background-color: #252e2f;
  color: white;
  font-weight: bold;
}
.nav-bar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.nav-bar .logo {
  text-transform: uppercase;
  display: flex;
  gap: 10px;
  align-items: center;
}
.nav-bar .logo .log-char {
  padding: 2px 10px;
  font-size: 1.5em;
  font-weight: bold;
  background-color: #ffffff3b;
}
.nav-bar .title > span {
  color: #1a8c4b;
}
.nav-bar .links {
  display: flex;
  gap: 30px;
  align-items: center;
  list-style: none;
  text-transform: capitalize;
}
.nav-bar .links .active {
  color: #1a8c4b;
}
.nav-bar .links li {
  transition: 0.3s;
  cursor: pointer;
}
.nav-bar .links li:hover {
  color: #1a8c4b;
}
.features {
  padding-top: 50px;
  padding-bottom: 50px;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}
.features .title {
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 40px;
}
.features .des {
  color: #777;
  line-height: 1.8;
}
.about-me {
  background-color: var(--section-color);
}
.about-me .container {
  display: flex;
  align-items: center;
}
.about-me img {
  transform: translateX(-110px);
}
.about-me .about-content {
  padding-top: 80px;
  padding-bottom: 80px;
}
.about-content .about-box .title {
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 40px;
}
.about-content .about-box .des {
  line-height: 1.8;
  margin-bottom: 30px;
  color: #777;
}
.about-content .feat-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
}
.about-content .feat-box .feat {
  display: flex;
  gap: 20px;
}
.about-content .feat-box .feat .icon {
  color: #30cb6e;
}
.about-content .feat-box .feat .title {
  text-transform: uppercase;
  margin: 0 0 20px;
  color: var(--main-color);
}
.about-content .feat-box .feat .des {
  line-height: 1.8;
  color: #777;
}
