@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
}
:root {
  --main-color: #252e2f;
  --second-color: #2fcd6e;
  --section-color: #f2f2f2;
  --paragraph-color: #b8b8b8;
  --section-padding: 80px;
}
.btn {
  background-color: transparent;
  outline: none;
  border: 3px solid;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.container {
  width: 90%;
  margin: auto;
}
.hero {
  position: relative;
  height: 100vh;
}
.hero .hero-image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.hero .container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .hero-content {
  text-align: center;
}
.hero .hero-content .title {
  font-size: 4em;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  border: 2px solid white;
  border-color: white transparent;
  padding: 10px 120px;
}
.hero .hero-content .learn-more {
  color: white;
  padding: 30px 60px;
  font-size: 2em;
}
.nav-bar {
  background-color: #252e2f;
  color: white;
  font-weight: bold;
}
.nav-bar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.nav-bar .logo {
  text-transform: uppercase;
  display: flex;
  gap: 10px;
  align-items: center;
}
.nav-bar .logo .log-char {
  padding: 2px 10px;
  font-size: 1.5em;
  font-weight: bold;
  background-color: #ffffff3b;
}
.nav-bar .title > span {
  color: #1a8c4b;
}
.nav-bar .links {
  display: flex;
  gap: 30px;
  align-items: center;
  list-style: none;
  text-transform: capitalize;
}
.nav-bar .links li {
  transition: 0.3s;
  cursor: pointer;
}
.nav-bar .links .active,
.nav-bar .links li:hover {
  color: var(--second-color);
}
.features {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}
.features .title {
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 40px;
}
.features .des {
  color: var(--paragraph-color);
  line-height: 1.8;
}
.about-me {
  background-color: var(--section-color);
}
.about-me .container {
  display: flex;
  align-items: center;
}
.about-me img {
  transform: translateX(-110px);
}
.about-me .about-content {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.about-content .about-box .title {
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 40px;
}
.about-content .about-box .des {
  line-height: 1.8;
  margin-bottom: 30px;
  color: var(--paragraph-color);
}
.about-content .feat-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
}
.about-content .feat-box .feat {
  display: flex;
  gap: 20px;
}
.about-content .feat-box .feat .icon {
  color: var(--second-color);
}
.about-content .feat-box .feat .title {
  text-transform: uppercase;
  margin: 0 0 20px;
  color: var(--main-color);
}
.about-content .feat-box .feat .des {
  line-height: 1.8;
  color: var(--paragraph-color);
}
.skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.skills .container {
  display: flex;
  gap: 30px;
}
.skills .skills-description {
  flex: 1;
}
.skills .skills-description .title {
  text-transform: uppercase;
  font-size: 2em;
  color: var(--main-color);
}
.skills .skills-description .des {
  color: var(--paragraph-color);
  line-height: 1.8;
  margin-bottom: 50px;
}
.skills .skills-description .contact-me {
  color: var(--second-color);
  padding: 15px 25px;
  font-size: 1em;
}
.skills .skills-bars {
  flex: 1;
  margin-top: 50px;
}
.skills .skills-bars .skill .title {
  text-transform: uppercase;
  color: var(--main-color);
}
.skills .skills-bars .skill .bar {
  background-color: var(--section-color);
  width: 100%;
  height: 30px;
}
.skills .skills-bars .skill .bar > span {
  display: block;
  height: 100%;
  background-color: var(--second-color);
  position: relative;
}
.skills .skills-bars .skill:nth-of-type(1) .bar span {
  width: 50%;
}
.skills .skills-bars .skill:nth-of-type(2) .bar span {
  width: 70%;
}
.skills .skills-bars .skill:nth-of-type(3) .bar span {
  width: 80%;
}
.skills .skills-bars .skill:nth-of-type(4) .bar span {
  width: 70%;
}
.skills .skills-bars .skill .bar > span::after {
  content: attr(data-width);
  position: absolute;
  right: 5px;
  top: 5px;
  color: white;
}
.resume {
  background-color: var(--section-color);
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
}
.resume::after {
  content: "";
  position: absolute;
  border: 20px solid;
  border-color: var(--section-color) transparent transparent;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
}
.resume .container {
  text-align: center;
}
.resume .title {
  text-transform: uppercase;
  color: var(--main-color);
  font-size: 2em;
  margin: 0 0 50px;
}
.resume .des {
  color: var(--paragraph-color);
  line-height: 1.8;
  margin-bottom: 50px;
}
.resume .download {
  color: var(--second-color);
  padding: 20px 30px;
}
.education-lvl {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.education-lvl .educ-title,
.education-lvl .work-title {
  text-transform: uppercase;
  color: var(--main-color);
  font-size: 2em;
  margin-bottom: 50px;
}
.education-lvl .my-education,
.education-lvl .work-experience {
  display: flex;
  gap: 30px;
}
.education-lvl .my-education .educ-des p {
  margin-bottom: 30px;
  color: var(--paragraph-color);
  line-height: 1.8;
}
.education-lvl .box .title {
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 0;
}
.education-lvl .box .title + p {
  color: var(--paragraph-color);
  margin-top: 10px;
  text-transform: capitalize;
}
.education-lvl .box button {
  padding: 10px;
  background-color: var(--second-color);
  color: white;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.education-lvl .box .des {
  margin-bottom: 50px;
  color: var(--paragraph-color);
  line-height: 1.8;
}
.education-lvl hr {
  border-color: var(--section-color);
  border-top: none;
}
.work-experience .des {
  color: var(--paragraph-color);
  line-height: 1.8;
}
.work-experience .des p:first-child {
  margin-bottom: 30px;
}
.quote {
  background-color: var(--section-color);
  text-align: center;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.quote blockquote {
  max-width: 700px;
  margin: auto;
  color: var(--paragraph-color);
  margin-bottom: 40px;
}
.quote .author {
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 30px;
}
.quote .bollets span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid var(--second-color);
  margin-left: 5px;
}
.quote .bollets span.active {
  background-color: var(--second-color);
}
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
}
.portfolio .title {
  text-transform: uppercase;
  font-size: 2em;
  color: var(--main-color);
  margin-bottom: 30px;
}
.portfolio .des {
  line-height: 1.8;
  color: var(--paragraph-color);
  margin-bottom: var(--section-padding);
}
.portfolio .projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}
.portfolio .projects img {
  max-width: 100%;
}
.footer {
  background-color: var(--main-color);
  color: white;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.footer .title {
  text-transform: uppercase;
  font-size: 2em;
}
.footer .contact-me {
  display: flex;
  gap: 30px;
}
.footer .contact-me .box {
  flex: 1;
}
.footer .contact-me .box .des {
  color: var(--paragraph-color);
  line-height: 1.8;
  margin-bottom: 40px;
}
.footer .contact-me .box address {
  line-height: 2;
  margin-bottom: 40px;
  color: var(--paragraph-color);
}
.footer .contact-me .box .contact {
  color: var(--paragraph-color);
}
.footer .contact-me .box .contact span {
  display: inline-block;
  margin-right: 40px;
  color: white;
  text-transform: capitalize;
}
.footer .contact-me .box form label {
  display: block;
  margin-bottom: 30px;
  text-transform: capitalize;
}
.footer .contact-me .box form label input {
  display: block;
  margin-top: 10px;
  width: 100%;
  height: 30px;
  background-color: #4b5456;
  border: none;
  outline: none;
}
.footer .contact-me .box form input[type="submit"] {
  color: white;
  text-transform: uppercase;
  padding: 20px;
  background-color: #181f21;
  border: none;
  font-weight: bold;
}
.copyright {
  background-color: #181f21;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.copyright p {
  color: var(--paragraph-color);
  text-transform: uppercase;
  margin: 0 0 20px;
}
.copyright .social {
  display: flex;
  gap: 10px;
}
.copyright .icon {
  width: 30px;
  height: 3 0px;
  background-color: var(--paragraph-color);
  border-radius: 50%;
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
